<header id="header" layout="column" layout-align="center center">
    <md-progress-linear ng-show="isLoadingShots" md-mode="query"></md-progress-linear>
    populllar
</header>

<div id="main" layout="column" layout-align="center center">
    <form layout="column" layout-align="center center">
        <md-input-container layout="row" layout-align="center center">
            <input ng-model="searchUser">
        </md-input-container>
        <md-button layout="row" layout-align="center center" class="md-raised" type="submit" ng-click="amIPopulllar()">Am I populllar ?</md-button>
    </form>
    <div layout="row" layout-align="center center">
        <div ng-if="userIsPopulllar">
            <span>You re populllar !</span>
            <span>in position {{userIsPopulllar}}</span>
        </div>
        <div ng-if="!userIsPopulllar && shots">
            <span>You re not populllar !</span>
            <span>in position > 100 ...</span>
        </div>
    </div>
</div>

<footer id="footer">
    <ul id="shots" ng-if="userIsPopulllar">
        <li ng-repeat="shot in shots track by $index" ng-class="{populllarShot:$index === userIsPopulllar-1}" layout="column" layout-align="center center">
            <img layout="row" class="shot" src="{{shot.images.teaser}}" />
            <div layout="row" layout-align="center center">
                <img class="avatar" src="{{shot.user.avatar_url}}" />
                <span class="username">{{shot.user.username}}</span>
            </div>

        </li>
    </ul>
</footer>